.cardPokemon {
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    height: 80%;
    width: 80%;
    justify-content: center;
}

.cardPokemon:hover {
    transform: scale(1.05);
}

.cardPokemon img {
    width: 100px;
}

.cardPokemon h3 {
    margin: 10px 0 5px;
    text-transform: capitalize;
}

.cardPokemon p {
    margin: 3px 0;
}
