*{
    margin: 0px;
    padding: 0px;
}

.main-poke {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.grid-poke {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 90%;
    height: 100%;
    justify-items: center;
}

.card-poke {
    border-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    min-height: 320px;
    width: 100%;
    justify-content: center;
}

.card-poke:hover {
    transform: scale(1.05);
}

.card-poke img {
    width: 100px;
}

.card-poke h3 {
    margin: 10px 0 5px;
    text-transform: capitalize;
}

.card-poke p {
    margin: 3px 0;
}

.btn-poke{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ff1717;
    color: white;
    transition: 0.3s;

}

.btn-poke:hover {
    transform: scale(1.15);
}